---

const menuitems = [];
---

<navbar class="max-w-screen-xl mx-auto px-5 flex flex-col lg:flex-row justify-between items-center my-5">
  <div class="flex w-full lg:w-auto items-center justify-between">
    <a href="/" class="text-lg"
      ><span class="font-bold text-slate-800">Savvi</span><span class="text-slate-500">Labs</span>
    </a>
    <div class="block lg:hidden">
    </div>
  </div>
  <div>
    <!-- <div class="hidden lg:flex items-center gap-4"> -->
    <!--   <a href="#">Log in</a> -->
    <!--   <a href="#" size="md">Sign up</a> -->
    <!-- </div> -->
  </div>
</navbar>
