---
// Component Imports
import Layout from '@layouts/main.astro'
import ConfettiButton from '@components/ConfettiButton.astro';

---

<Layout title="URL Shortener">
  <main class="grid place-items-center h-screen content-center">
    <ConfettiButton>Tailwind Button in Astro!</Button>
  </main>
</Layout>
