---
// Component Imports
import Layout from '@layouts/main.astro'
import SectionHead from '@components/SectionHead.astro';
import UrlForm from '@components/SavviURL/UrlForm.astro';

---

<Layout title="Savvi URL">
  <main class="max-w-screen-xl mx-auto px-5">
    <SectionHead>
      <Fragment slot="title">SavviURL</Fragment>
      <Fragment slot="desc">URL Shortening Tool</Fragment>
    </SectionHead>
    <div class="mx-auto max-w-4xl mt-16">
      <UrlForm />
    </div>    
  </main>
</Layout>
